{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ form.vars.value.id ? 'Edit Landing' : 'Create Landing' }}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ form.vars.value.id ? 'Update' : 'Create' }}</button>
    {{ form_end(form) }}
{% endblock %}
